extends layout

block content
  .container
    .columns
      .column
        table.table.is-fullwidth
          tbody
            tr
              th First name
              td= user.firstName
            tr
              th Last name
              td= user.lastName
            tr
              th Date of birth
              td= moment(user.dateOfBirth).format('DD.MM.YYYY')

        pre= JSON.stringify(user, 0, 2)

      .column.is-one-third
        .card
          .card-image
            figure.image
              img(src=`${user.photo}`, alt='User photo')
          .card-content
            .media
              .media-content
                p.title.is-4= `${user.firstName} ${user.lastName}`
                p.subtitle.is-6= `${moment(user.dateOfBirth).format('MMM. YYYY')} (${moment().diff(user.dateOfBirth, 'years')})`
