extends ../layout

block content
  .container.users-list
    a.button.is-primary.is-outlined.is-pulled-right(href='users/import') Import
    a.button.is-primary.is-outlined.is-pulled-right(href='users/export') Export
    a.button.is-success(href='users/new') Add new

    hr

    table.table.is-fullwidth.is-clickable
      thead
        tr
          th First name
          th Last name
          th Username
          th Wallet Id
          th Coins
          th
      tbody
        each user in users
          tr(data-href=`users/${user.id}` class=(user.admin ? 'admin' : 'user'))
            td= user.firstName
            td
              = user.lastName
              if user.admin
                | &nbsp;
                abbr(title='admin') (a)
            td= user.username
            td= user.walletId
            td
              span.coins= user.get('coins')
            td
              a.button.is-small(href=`users/${user.id}/edit`) Edit
              //- if user.walletId !== undefined
              //-   a.button.is-small(href=`users/${user.id}/enroll`) Enroll

    hr

    a.button.is-danger.is-outlined.is-pulled-right(href='users/clearConfirm') Remove all

    .is-clearfix
