extends ../layout

block content
  .container
    table.table.is-fullwidth
      thead
        tr
          th ID
          th First name
          th Last name
          th Username
          th Wallet Id
          th
      tbody
        each user in users
          tr
            td= user.$loki + '' + (user.admin ? ' (A)' : '')
            td= user.firstName
            td
              a(href=`users/${user.$loki}`)= user.lastName
            td= user.username
            td= user.walletId
            td
              a.button.is-small(href=`users/${user.$loki}/edit`) Edit
              if user.walletId !== undefined
                a.button.is-small(href=`users/${user.$loki}/enroll`) Enroll

    a.button.is-danger(href='users/clearConfirm') Remove all
