extends ../layout

block content
  .container
    table.table.is-fullwidth.is-clickable
      thead
        tr
          th First name
          th Last name
          th Username
          th Wallet Id
          th
      tbody
        each user in users
          tr(data-href=`users/${user.$loki}`)
            td= user.firstName
            td= user.lastName + (user.admin ? ' (A)' : '')
            td= user.username
            td= user.walletId
            td
              a.button.is-small(href=`users/${user.$loki}/edit`) Edit
              if user.walletId !== undefined
                a.button.is-small(href=`users/${user.$loki}/enroll`) Enroll

    a.button.is-danger(href='users/clearConfirm') Remove all
