extends ../layout

block content
  .container.user-detail
    if user
      .columns
        .column.is-two-thirds-tablet.is-half-desktop
          .card
            .card-image
              figure.image
                img(src=`${user.photo}`, alt='User photo')
            .card-content
              .media
                .media-content
                  p.title.is-4= `${user.firstName} ${user.lastName}`
                  p.subtitle.is-6
                    = `${moment(user.dateOfBirth).format('MMM. YYYY')} (${moment().diff(user.dateOfBirth, 'years')})`
                    if user.admin
                      br
                      | (admin)

          table.table.is-fullwidth
            tbody
              tr
                th First name
                td= user.firstName
              tr
                th Last name
                td= user.lastName
              tr
                th Username
                td= user.username
              tr
                th Date of birth
                td= moment(user.dateOfBirth).format('DD.MM.YYYY')
              tr
                th Wallet Id
                td= user.walletId

          if adminLayout
            form(method='POST' action=`/users/${user.$loki}/change`)
              .field
                label.label Add change
                .control
                  textarea.textarea(name="description" placeholder="Comment")
                  p.help Comment is visible to everyone
              .field.has-addons
                .control
                  span.select
                    select(name="type")
                      option(value="reward") Reward
                      option(value="purchase") Purchase
                .control
                  input.input(name="deltaCoin" type="number" placeholder="Delta coin")
                  p.help Can be + or -, 0 is valid value
                .control
                  button.button.is-primary.is-outlined(type='submit') Add

        .column
          + timeline(transactions)

    else
      + message('User not found', 'Not found', 'info')
