extends ../layout

block content
  .container
    if user
      .columns
        .column.is-one-third
          .card
            .card-image
              figure.image
                img(src=`${user.photo}`, alt='User photo')
            .card-content
              .media
                .media-content
                  p.title.is-4= `${user.firstName} ${user.lastName}`
                  p.subtitle.is-6= `${moment(user.dateOfBirth).format('MMM. YYYY')} (${moment().diff(user.dateOfBirth, 'years')})`

        .column.is-3
          + timeline(transactions)

        .column
          table.table.is-fullwidth
            tbody
              tr
                th First name
                td= user.firstName
              tr
                th Last name
                td= user.lastName
              tr
                th Username
                td= user.username
              tr
                th Date of birth
                td= moment(user.dateOfBirth).format('DD.MM.YYYY')
              tr
                th Wallet Id
                td= user.walletId

    else
      + message('User not found', 'Not found', 'info')
