extends ../layout

block content
  .container
    table.table.is-fullwidth
      thead
        tr
          th Created at
          th(title='User ID') UID
          th(title='Wallet ID') WID
          th Type
          th Description
          th Coins
      tbody
        each transaction in transactions
          - user = users[transaction.userId]
          tr
            td= moment(transaction.createdAt).format('DD.MM.YYYY HH:mm')
            td
              if transaction.user
                a(href=`/users/${transaction.user.id}`)= transaction.user.fullName
              else
                |-
            td= transaction.walletId
            td= transaction.type
            td= transaction.description
            td
              span.coins
                  if transaction.deltaCoin > 0
                    = '+'
                  = transaction.deltaCoin
