extends ../layout

block content
  .container
    table.table.is-fullwidth.is-clickable
      thead
        tr
          th Description
          th Value
          th Code
          th Target
          th
      tbody
        each bounty in bounties
          tr(data-href=`/bounties/${bounty.id}`)
            td= bounty.description
            td= bounty.value
            td= bounty.code
            td= bounty.targetId
            td
              a.button.is-small(href=`bounties/${bounty.id}/edit`) Edit

    a.button.is-success(href="/bounties/new") New
