extends ../layout

block content
  .container
    table.table.is-fullwidth
      thead
        tr
          th ID
          th Description
          th Value
          th Code
          th Target
          th
      tbody
        each bounty in bounties
          tr
            td= bounty.$loki
            td
              a(href=`/bounties/${bounty.$loki}`)= bounty.description
            td= bounty.value
            td= bounty.code
            td= bounty.target
            td
              a.button.is-small(href=`bounties/${bounty.$loki}/edit`) Edit

    a.button.is-success(href="/bounties/new") New
